In [1]:
import numpy as np
import pandas as pd

In [2]:
quizzes = pd.read_csv('quizzes.csv')

In [3]:
quizzes.head()

,id,question,slug,keyword,totaloption,option1,option2,option3,option4,option5,correctoption,explanation,checkbox,created_at,updated_at,status,sequence,subtopic_id
0,1,<p>The difference between the place value and ...,the-difference-between-the-place-value-and-the...,NaN,4,973,6973,5994,None of these,NaN,3,<p>Place Value - Face Value = 6000-6 = 5994</p>,Quizzes,2021-03-21 10:34:35,2021-03-21 10:34:35,1,NaN,5
1,2,<p>Find the last unit digit of 55^5 ( Using Eu...,find-the-last-unit-digit-of-55-5-using-euler-t...,NaN,4,4,5,3,8,NaN,2,NaN,Quizzes,2021-11-14 10:20:17,2021-11-14 10:20:17,1,NaN,5
2,3,<p>Find the last 2 digit of 7^85 (Using Euler ...,find-the-last-2-digit-of-7-85-using-euler-theorem,NaN,4,07,77,87,97,NaN,1,NaN,Quizzes,2021-11-14 10:20:42,2021-11-14 10:20:42,1,NaN,5
3,4,<p>The Unit digit in the product (784 X 618 X ...,the-unit-digit-in-the-product-784-x-618-x-917-...,find the unit digit of 784 618 917 463,4,1,2,3,4,NaN,1,<p>4 X 8 X 7 X 3</p>,Quizzes,2021-03-08 19:00:59,2021-03-08 19:00:59,1,NaN,5
4,5,<p>What is the unit digit { (6374)^1793 X (625...,what-is-the-unit-digit-6374-1793-x-625-317-x-3...,6374 power 1793,4,1,20,7,0,NaN,4,NaN,Quizzes,2021-04-05 13:31:48,2021-04-05 13:31:48,1,NaN,5

In [4]:
quizzes.shape

(2183, 18)

In [5]:
quizzes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2183 entries, 0 to 2182
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2183 non-null   int64
 1   question       2183 non-null   object
 2   slug           2183 non-null   object
 3   keyword        215 non-null    object
 4   totaloption    2183 non-null   int64
 5   option1        2183 non-null   object
 6   option2        2183 non-null   object
 7   option3        2171 non-null   object
 8   option4        2171 non-null   object
 9   option5        423 non-null    object
 10  correctoption  2183 non-null   int64
 11  explanation    10 non-null     object
 12  checkbox       1114 non-null   object
 13  created_at     2183 non-null   object
 14  updated_at     2183 non-null   object
 15  status         2183 non-null   int64
 16  sequence       1 non-null      float64
 17  subtopic_id    2183 non-null   int64
dtypes: float64(1), int64(5), object(12)
memory usage: 307.1+ KB

In [6]:
quizzes.describe()

                id  totaloption  correctoption  status  sequence  subtopic_id
count  2183.000000  2183.000000    2183.000000  2183.0       1.0  2183.000000
mean   1187.630783     4.096198       2.524049     1.0       2.0    54.002290
std     725.623248     0.346383       1.111247     0.0       NaN    33.886199
min       1.000000     2.000000       1.000000     1.0       2.0     5.000000
25%     573.500000     4.000000       2.000000     1.0       2.0    14.000000
50%    1137.000000     4.000000       3.000000     1.0       2.0    59.000000
75%    1752.500000     4.000000       3.000000     1.0       2.0    67.000000
max    2605.000000     5.000000       5.000000     1.0       2.0   147.000000

In [7]:
# id (will be useful atlast)
# question
# totaloption
# option1
# option2
# option3
# option4
# option5
# correctoption
# subtopic_id
quizzes = quizzes[['id','question','option1','option2','option3','option4','option5','subtopic_id']]

In [8]:
quizzes.head()

,id,question,option1,option2,option3,option4,option5,subtopic_id
0,1,<p>The difference between the place value and ...,973,6973,5994,None of these,NaN,5
1,2,<p>Find the last unit digit of 55^5 ( Using Eu...,4,5,3,8,NaN,5
2,3,<p>Find the last 2 digit of 7^85 (Using Euler ...,07,77,87,97,NaN,5
3,4,<p>The Unit digit in the product (784 X 618 X ...,1,2,3,4,NaN,5
4,5,<p>What is the unit digit { (6374)^1793 X (625...,1,20,7,0,NaN,5

In [9]:
quizzes['question']

0       <p>The difference between the place value and ...
1       <p>Find the last unit digit of 55^5 ( Using Eu...
2       <p>Find the last 2 digit of 7^85 (Using Euler ...
3       <p>The Unit digit in the product (784 X 618 X ...
4       <p>What is the unit digit { (6374)^1793 X (625...
                              ...
2178    <p>X's age 3 years ago was three times the pre...
2179    <p>Eight year ago, Poorvi's age was equal to t...
2180    <p>The sum of present ages of a father and his...
2181    <p>Rahul is as much younger than Sagar as he i...
2182    <p>Ten years hence, the respective ratio betwe...
Name: question, Length: 2183, dtype: object

In [10]:
import re

In [11]:
r = re.compile(r'<[^>]+>')
def remove_html(string):
    return r.sub('',string)

In [12]:
quizzes['question'] = quizzes['question'].transform(remove_html)

In [15]:
quizzes.isnull().sum()

id             0
question       0
option1        0
option2        0
option3        0
option4        0
option5        0
subtopic_id    0
dtype: int64

In [14]:
quizzes = quizzes.fillna("")

In [16]:
quizzes['option1'] = quizzes['option1'].transform(remove_html)
quizzes['option2'] = quizzes['option2'].transform(remove_html)
quizzes['option3'] = quizzes['option3'].transform(remove_html)
quizzes['option4'] = quizzes['option4'].transform(remove_html)
quizzes['option5'] = quizzes['option5'].transform(remove_html)

In [17]:
quizzes.duplicated().sum()

0

In [18]:
quizzes['tags'] = quizzes['option1'] +" "+ quizzes['option2'] +" "+  quizzes['option3'] +" "+  quizzes['option4'] +" "+  quizzes['option5']

In [19]:
quizzes = quizzes[['id','question','tags','subtopic_id']]

In [20]:
quizzes.head()

,id,question,tags,subtopic_id
0,1,The difference between the place value and the...,973 6973 5994 None of these,5
1,2,Find the last unit digit of 55^5 ( Using Euler...,4 5 3 8,5
2,3,Find the last 2 digit of 7^85 (Using Euler The...,07 77 87 97,5
3,4,The Unit digit in the product (784 X 618 X 917...,1 2 3 4,5
4,5,What is the unit digit { (6374)^1793 X (625)^3...,1 20 7 0,5

In [21]:
quizzes['question'] = quizzes['question'].transform(lambda x:x.lower())

In [22]:
quizzes['tags'] = quizzes['tags'].transform(lambda x:x.lower())

In [23]:
quizzes['tags'] = quizzes['question'] +" "+ quizzes['tags']

In [24]:
quizzes.head()

,id,question,tags,subtopic_id
0,1,the difference between the place value and the...,the difference between the place value and the...,5
1,2,find the last unit digit of 55^5 ( using euler...,find the last unit digit of 55^5 ( using euler...,5
2,3,find the last 2 digit of 7^85 (using euler the...,find the last 2 digit of 7^85 (using euler the...,5
3,4,the unit digit in the product (784 x 618 x 917...,the unit digit in the product (784 x 618 x 917...,5
4,5,what is the unit digit { (6374)^1793 x (625)^3...,what is the unit digit { (6374)^1793 x (625)^3...,5

In [51]:
cv.get_feature_names()

['00',
 '000',
 '0000',
 '00000',
 '000000',
 '00000000',
 '000000343',
 '000000345',
 '000002',
 '000004',
 '00000hi',
 '000027',
 '00004096',
 '000049',
 '000064',
 '000091',
 '0001',
 '000122',
 '000126',
 '000171',
 '00021',
 '000216',
 '000246',
 '00027',
 '000326',
 '000342',
 '000345',
 '000441',
 '000456',
 '0005',
 '00060516',
 '0009',
 '000hi',
 '001',
 '001101010',
 '001101011',
 '00122',
 '0017',
 '002',
 '0021',
 '00246',
 '0025',
 '0026',
 '003',
 '0034',
 '004096',
 '005',
 '0056',
 '006',
 '0065',
 '0073',
 '008',
 '0082',
 '009',
 '009999999999999998',
 '01',
 '01027',
 '011',
 '012',
 '0125',
 '013',
 '0130',
 '0144',
 '016',
 '0162',
 '0168',
 '0169',
 '017',
 '019',
 '02',
 '020',
 '0203',
 '021',
 '0210',
 '0225',
 '023',
 '0246',
 '02554',
 '0256',
 '03',
 '03145',
 '032',
 '035',
 '036',
 '0375',
 '038',
 '03964',
 '04',
 '0483',
 '05',
 '050',
 '055',
 '057',
 '05d',
 '06',
 '0605',
 '062',
 '0625',
 '065',
 '069',
 '06945',
 '06d',
 '07',
 '0727',
 '08',
 '080',
 '0873',
 '089',
 '09',
 '0946',
 '095',
 '096',
 '0b1000',
 '0b10000',
 '0b10000b1000',
 '0b10001000',
 '0b1000b1000',
 '0b101',
 '0b10111',
 '0b1101',
 '0b11011',
 '0b11101',
 '0b11111',
 '0bx1000',
 '0x35',
 '0x4f5',
 '0x75',
 '0x8',
 '0x99fffa',
 '0x99fffl',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '10001',
 '10003',
 '10006',
 '1000m',
 '1001',
 '1002',
 '1003',
 '1003003001',
 '100300301',
 '100303001',
 '1005',
 '1006',
 '1007',
 '1008',
 '10080',
 '1009',
 '100l',
 '100m',
 '100th',
 '100x',
 '101',
 '1010',
 '10101',
 '1011',
 '10110011',
 '1011011',
 '10123',
 '10127',
 '1013',
 '10137',
 '1016',
 '101761',
 '1018',
 '10185',
 '10190',
 '102',
 '1020',
 '10211',
 '1024',
 '1025',
 '1028',
 '103',
 '103003001',
 '1034',
 '1035',
 '1036',
 '1039',
 '104',
 '1040',
 '1044',
 '105',
 '1050',
 '1052',
 '1056',
 '106',
 '1060',
 '107',
 '108',
 '1080',
 '1084',
 '1089',
 '109',
 '1090',
 '10914',
 '10d',
 '10hr',
 '10km',
 '10n',
 '10th',
 '10x',
 '10y',
 '11',
 '110',
 '1100',
 '110010100',
 '110010101',
 '1101',
 '11010100',
 '11075',
 '1108',
 '11080',
 '111',
 '1110',
 '11101011',
 '1111',
 '11111',
 '111111',
 '11123',
 '11158',
 '112',
 '1120',
 '11211',
 '1125',
 '1127',
 '113',
 '1136',
 '1140',
 '11400',
 '115',
 '1150',
 '1154',
 '1155',
 '1158',
 '116',
 '1160',
 '11628',
 '1164',
 '1165',
 '117',
 '11760',
 '118',
 '1185',
 '1186',
 '1188',
 '11881',
 '119',
 '1190',
 '1195',
 '11s',
 '11t',
 '11th',
 '12',
 '120',
 '1200',
 '12000',
 '1202',
 '1205',
 '120960',
 '121',
 '121108',
 '121212',
 '12123',
 '121796',
 '121866',
 '121956',
 '121966',
 '122',
 '1220',
 '1225',
 '123',
 '1230',
 '12341',
 '123454321',
 '124',
 '1245',
 '125',
 '1250',
 '125125',
 '126',
 '1260',
 '1264',
 '127',
 '1275',
 '128',
 '1280',
 '12800',
 '1282',
 '1286',
 '129430',
 '1296',
 '129600',
 '12a',
 '12b',
 '12c6',
 '12km',
 '12th',
 '12x',
 '12xyz',
 '13',
 '130',
 '1300',
 '13000',
 '131',
 '13123',
 '132',
 '1320',
 '133000r',
 '135',
 '13540',
 '136',
 '1360',
 '1365',
 '1366731',
 '1367',
 '1367631',
 '1369',
 '137',
 '1375',
 '1380',
 '1386',
 '139',
 '1397',
 '13q7',
 '13th',
 '14',
 '140',
 '1400',
 '141',
 '142',
 '14200',
 '14300',
 '144',
 '145',
 '145785',
 '1458',
 '1460',
 '14600',
 '148',
 '1492',
 '1496',
 '14th',
 '15',
 '150',
 '1500',
 '15000',
 '150m',
 '151',
 '1512',
 '1515',
 '152',
 '153',
 '15300',
 '1534',
 '1537',
 '1540',
 '155',
 '1550',
 '1558',
 '1559',
 '156',
 '15600',
 '1568',
 '157',
 '15876',
 '159',
 '15th',
 '16',
 '160',
 '1600',
 '16000',
 '160m',
 '161',
 '16147',
 '162',
 '1628',
 '163',
 '1635',
 '164',
 '16400',
 '165',
 '1657',
 '1664',
 '1667',
 '1675',
 '168',
 '1680',
 '1683',
 '16a2',
 '16th',
 '17',
 '170',
 '1700',
 '17000',
 '1701',
 '172',
 '1728',
 '17280',
 '173',
 '174',
 '1740',
 '175',
 '1750',
 '175000',
 '176',
 '1762',
 '177',
 '1776',
 '1784',
 '1785',
 '1793',
 '17956',
 '17th',
 '18',
 '180',
 '1800',
 '18000',
 '1806',
 '1812',
 '182',
 '1825',
 '183',
 '1836',
 '18362619',
 '184',
 '1842010',
 '1848',
 '185',
 '1851',
 '1870',
 '1875',
 '188',
 '1888',
 '189',
 '1890',
 '189000',
 '18cr',
 '18th',
 '19',
 '190',
 '1900',
 '19000',
 '19023',
 '192',
 '1920',
 '1922000',
 '1922200',
 '1924',
 '193',
 '1936200',
 '194',
 '1941',
 '19418',
 '195',
 '1950',
 '1951',
 '1951609',
 '19578',
 '196',
 '1961',
 '19657',
 '1968',
 '1976',
 '198',
 '1981709',
 '1983',
 '1985',
 '199',
 '1990',
 '1994',
 '1995',
 '1996',
 '1999',
 '19th',
 '1kmph',
 '1pt',
 '1st',
 '1st_string',
 '20',
 '200',
 '2000',
 '20000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2006',
 '2007',
 '2009',
 '20098',
 '200m',
 '2010',
 '2011',
 '2012',
 '2013',
 '202',
 '2025',
 '2028',
 '203',
 '2031719',
 '2037',
 '204',
 '2047',
 '20480',
 '205',
 '2070',
 '2078',
 '209',
 '20hr',
 '20km',
 '20kmph',
 '20th',
 '20x',
 '21',
 '210',
 '2100',
 '21000',
 '21025',
 '2111',
 '213',
 '213444',
 '214',
 '2140',
 '214344',
 '214434',
 '2147483647',
 '2147483648',
 '2148',
 '215',
 '216',
 '2160',
 '21600',
 '217',
 '21748',
 '2178',
 '219',
 '21904',
 '21908',
 '2197',
 '21st',
 '22',
 '220',
 '2200',
 '2209',
 '221',
 '222',
 '2222',
 '223',
 '2240',
 '2245',
 '225',
 '2254',
 '226',
 '228',
 '23',
 '230',
 '2304',
 '231',
 '231444',
 '232',
 '232323',
 '234',
 '2343',
 '235',
 '2354',
 '235641',
 '236',
 '2361',
 '2368',
 '2379',
 '2395',
 '23rd',
 '24',
 '240',
 '2400',
 '2401',
 '24025',
 '2404',
 '242',
 '243',
 '2430',
 '24300',
 '24383',
 '244',
 '2444',
 '245',
 '245642',
 '246',
 '24713',
 '248',
 '2482',
 '2499',
 '24th',
 '25',
 '250',
 '2500',
 '25000',
 '2506',
 '251',
 '2516',
 '252',
 '2520',
 '253',
 '254',
 '2550',
 '2554',
 '256',
 '256256',
 '25683',
 '258',
 '25a',
 '25b',
 '25th',
 '26',
 '260',
 '2600',
 '26000',
 '262',
 '262144',
 '26243',
 '262500',
 '264',
 '2650',
 '266',
 '2664',
 '26d',
 '26th',
 '27',
 '270',
 '2700',
 '271',
 '2713',
 '272',
 '2722',
 '273',
 '273258',
 '273268',
 '273348',
 '273358',
 '2737',
 '2743',
 '2744',
 '27474',
 '2748',
 '275',
 '27574',
 '276',
 '2773',
 '279',
 '2793',
 '279841',
 '27th',
 '28',
 '280',
 '2800',
 '281',
 '282',
 '283',
 '2835',
 '28480',
 '285',
 '287',
 '288',
 '2880',
 '289',
 '28th',
 '29',
 '290',
 '2900',
 '29000',
 '291',
 '292',
 '294',
 '295',
 '296',
 '2960',
 '2963',
 '298',
 '29800',
 '299',
 '2994',
 '2a',
 '2ab',
 '2ad',
 '2b',
 '2bci',
 '2c',
 '2d',
 '2f',
 '2k',
 '2m',
 '2m2',
 '2n',
 '2nd',
 '2p',
 '2s',
 '2x',
 '2x2',
 '2xi',
 '2xy',
 '2y',
 '2yz',
 '2z',
 '30',
 '300',
 '3000',
 '30000',
 '300m',
 '301',
 '30154',
 '302',
 '30200',
 '3024',
 '303',
 '3036',
 '304',
 '3050',
 '306',
 '307',
 '308',
 '30th',
 '30x',
 '31',
 '310',
 '31111',
 '312',
 '3120',
 '3125',
 '3125736',
 '3129',
 '314',
 '3140',
 '3140000',
 '3149',
 '315',
 '3150',
 '315624',
 '31600',
 '3162',
 '3167',
 '317',
 '3196',
 '32',
 '320',
 '3200',
 '3209',
 '321',
 '3210',
 '3212',
 '324',
 '3240',
 '325',
 '325285',
 '326',
 '32675149',
 '327',
 '3276',
 '32767',
 '32768',
 '3280',
 '33',
 '330',
 '3300',
 '333',
 '3333',
 '335',
 '3350',
 '3359',
 '3363',
 '3375',
 '33994',
 '34',
 '340',
 '341',
 '341491',
 '342',
 '343',
 '345',
 '3450',
 '345000',
 '345000000',
 '346',
 '347',
 '3474',
 '34748',
 '348',
 '35',
 '350',
 '3500',
 '35000',
 '3508',
 '350m',
 '353',
 '355',
 '3560',
 '35718',
 '35kg',
 '36',
 '360',
 '3600',
 '3610',
 '362',
 '363',
 '364',
 '366',
 '367',
 '36760',
 '3680',
 '3699',
 '37',
 '375',
 '3750',
 '376',
 '378',
 '37th',
 '38',
 '380',
 '3800',
 '381',
 '383',
 '3840',
 '385',
 '3854',
 '3889',
 '3892109',
 '3893103',
 '3893106',
 '3897',
 '38year',
 '39',
 '390',
 '3900',
 '390000',
 '392',
 '3929103',
 '396',
 '3972',
 '398',
 '399',
 '3a',
 '3ac',
 '3ad',
 '3b',
 '3cm',
 '3d',
 '3j',
 '3km',
 '3l',
 '3m2',
 '3n',
 '3n2',
 '3r',
 '3rd',
 '3s',
 '3sn',
 '3x',
 '3xyz',
 '3y',
 '40',
 '400',
 '4000',
 '40000',
 '400m',
 '4016',
 '403',
 '404',
 '405',
 '4050',
 '406',
 '408',
 '4087',
 '4096',
 '40kg',
 '40km',
 '40m',
 '41',
 '41209',
 '4126',
 '4131',
 '4137',
 '414',
 '415',
 '415624',
 '416',
 '42',
 '420',
 '4200',
 '421',
 '424',
 '4240',
 '425',
 '426',
 '427398',
 '428',
 '43',
 '431',
 '432',
 '4320',
 '43200',
 '432000',
 '4320000',
 '435',
 '437',
 '4376',
 '439355',
 '44',
 '440',
 '4400',
 '441',
 '442',
 '4462',
 '447',
 '448',
 '449',
 '4491',
 '45',
 '450',
 '4500',
 '45000',
 '4533',
 '455',
 '456',
 '456000',
 '4567',
 '45983',
 '45m',
 '46',
 '460',
 '461',
 '462',
 '463',
 '464',
 '46666666666666',
 '46666666666667',
 '469',
 '47',
 '4700',
 '472',
 '475',
 '476',
 '48',
 '480',
 '4800',
 '481',
 '4818',
 '482',
 '484',
 '484416',
 '4848',
 '485',
 '486',
 '487',
 '489',
 '49',
 '491',
 '492',
 '494',
 '495',
 '496',
 '4989600',
 '4a',
 '4ac',
 '4b',
 '4e',
 '4gl',
 '4h',
 '4km',
 '4p3',
 '4r',
 '4t',
 '4th',
 '4x',
 '50',
 '500',
 '5000',
 '50000',
 '500m',
 '504',
 '5040',
 '50400',
 '5050',
 '5060',
 '5084',
 '5086',
 '50m',
 '51',
 '510',
 '512',
 '51212',
 '514',
 '5148',
 '5149',
 '517',
 '5184',
 '51st',
 '52',
 ...]

In [32]:
import nltk

In [33]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [34]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [35]:
stem('dance')

'danc'

In [37]:
quizzes['tags'] = quizzes['tags'].apply(stem)

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [39]:
vectors = cv.fit_transform(quizzes['tags']).toarray()

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
similarity = cosine_similarity(vectors)

In [111]:
sorted(list(enumerate(similarity[300])), reverse=True, key = lambda x:x[1]+1)[1:6]

[(288, 0.6286946134619315),
 (292, 0.3934484972891768),
 (794, 0.34848139169806486),
 (297, 0.33436692754521175),
 (696, 0.3127716210856122)]

In [83]:
def recommend(quiz):
    q_index = quizzes[quizzes['question'] == quiz].index[0]
    distances = similarity[q_index]
    quiz_list = sorted(list(enumerate(distances)), reverse=True, key = lambda x:x[1])[1:6]
    
    for i in quiz_list:
        print(quizzes.iloc[i[0]].question)

In [113]:
recommend(quizzes['question'][315])

a train covers the first 16 km at a speed of 20 km per hour another 20 km at 40 km per hour and the last 10 km at 15 km per hour. find the average speed for the entire journey.

&nbsp;
the average speed of a train in the onward journey is 25% more than that in the return journey. the train halts for one hour on reaching the destination. the total time taken for the complete to and fro journey is 17 hours, covering a distance of 800 km. the speed of the train in the onward journey is :
a train met with an accident 120 km from station a. it completed the remaining journey at \(\frac{5}{6}\) of its previous speed and reached 2 hours late at station b. had the accident taken place 300 km further, it would have been only 1 hour late. what is the speed of the train?

&nbsp;
the average speed of a train is 20% less on the return journey than on onward journey. the train halts for half an hour at the destination station before starting on the return journey. if the total time taken for the to and fro journey is 23 hours, covering a distance of 1000 km, the speed of the train on the return journey is:
distance between two stations a and b is 778km. a train covers the journey from a to b at 84 km per hour and returns back to a with a uniform speed of 56 km per hour. find the average speed of train during the whole journey.

In [114]:
quizzes['question'][315]

'one of the two buses completes a journey of 300 km in 7&frac12; hours an the other a journey of 450 km in 9 hours.&nbsp; the ratio of their average speeds is:'

In [70]:
quizzes.iloc[1]['tags']

'find the last unit digit of 55^5 ( use euler theorem) 4 5 3 8'

In [115]:
import pickle

In [118]:
filename = 'quiz_recommend.sav'
pickle.dump(similarity,open(filename,'wb'))

In [119]:
#load model
loaded_model = pickle.load(open('quiz_recommend.sav','rb'))

In [120]:
def load_recommend(quiz):
    q_index = quizzes[quizzes['question'] == quiz].index[0]
    distances = loaded_model[q_index]
    quiz_list = sorted(list(enumerate(distances)), reverse=True, key = lambda x:x[1])[1:6]
    
    for i in quiz_list:
        print(quizzes.iloc[i[0]].question)